.episode {
 margin: 0 auto;
 padding: 3rem 2rem;
 max-width: 45rem;

 .thumbnailContainer {
  position: relative;

  img {
   border-radius: 1rem;
  }

  button {
   position: absolute;
   border: 0;
   border-radius: 0.75rem;
   font-size: 0;
   width: 3rem;
   height: 3rem;
   z-index: 5;

   transition: filter 0.2s;

   &:first-child {
    left: 0;
    top: 50%;
    background: var(--purple-500);
    transform: translate(-50%, -50%);
   }

   &:last-child {
    right: 0;
    top: 50%;
    background: var(--green-500);
    transform: translate(50%, -50%);
   }

   &:hover {
    filter: brightness(0.9);
   }
  }
 }

 header {
  border-bottom: 1px solid var(--gray-100);
  padding-bottom: 1rem;

  h1 {
   margin-top: 2rem;
   margin-bottom: 1.5rem;
  }

  span {
   display: inline-block;
   font-size: 0.875rem;

   & + span {
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative;

    &::before {
     position: absolute;
     content: "";
     width: 4px;
     height: 4px;
     left: 0;
     top: 50%;
     background: #ddd;
     border-radius: 2px;
     transform: translate(-50%, -50%);
    }
   }
  }

 }

 .description {
  margin-top: 2rem;
  line-height: 1.675rem;
  color: var(--gray-800);

  p {
   margin: 1.5rem 0;
  }
 }
}
